@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300 bg-white text-gray-900;
  }
  
  /* Когда у <html> есть класс dark, меняем фон body */
  .dark body {
    @apply bg-slate-950 text-white;
  }
}