@tailwind base;
@tailwind components;
@tailwind utilities;

/* Устанавливаем белый фон по умолчанию для всего сайта */
body {
  background-color: #ffffff;
  color: #0f172a;
  @apply transition-colors duration-300;
}